<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5">
    <ros2_control name="ur5_ros2_control" type="system">
        
        <xacro:if value="$(arg is_sim)">
            <hardware>
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>
        </xacro:if>

        <joint name="shoulder_pan_joint">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <command_interface name="effort"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="shoulder_lift_joint">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <command_interface name="effort"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="elbow_joint">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <command_interface name="effort"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="wrist_1_joint">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <command_interface name="effort"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="wrist_2_joint">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <command_interface name="effort"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="wrist_3_joint">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <command_interface name="effort"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>
</robot>    